@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    /* Layout */
    /* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
    /* Colors */
    /* Primary */
    --primary-tomato: hsl(4, 100%, 67%);
    /* ### Neutral */
    --neutral-dark-slate-grey: hsl(234, 29%, 20%);
    --neutral-charcoal-grey: hsl(235, 18%, 26%);
    --neutral-grey: hsl(231, 7%, 60%);
    --neutral-white: hsl(0, 0%, 100%);
    /* Typography */
    /* Body Copy */
    --font-title: 6.8em;
    --font-modal-title: 4.6em;
    --font-title-mobile: 3.6em;
    /* --font-title: 4.6em; */
    --font-paragraph: 1.6em;
    --font-paragraph-mobile: 1.6em;
    --font-label: 1.2em;
    /* Font */
    /* --font-Family: [Roboto](https: //fonts.google.com/specimen/Roboto) */
    --font-primary: 'Roboto', sans-serif;
    /* --base-font: Roboto; */
    /* - Weights: 400, 700 */
    /* spacings */
    --spacing-300: 30rem;
    --spacing-168: 16.8rem;
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
    --spacing-percentage-90: 90%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-primary);
    color: var(--neutral-dark-slate-grey);
    font-size: 62.5%;
}

p {
    font-size: var(--font-paragraph);
}

svg {
    max-width: 100%;
}

.info-form__fact--svg {
    margin-right: var(--spacing-8);
}

ul,
li {
    list-style-type: none;
    /* text-decoration: none;
    text-decoration-style: none; */
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-charcoal-grey);
    /* height: 100vh; */
    /* min-width: 100%; */
}

.container {
    display: flex;
    align-self: center;
    background-color: var(--neutral-white);
    border: 2px solid var(--neutral-white);
    border-radius: 24px;
    /* height: 70vh; */
    align-items: center;
    padding: var(--spacing-12);
    gap: var(--spacing-68);
    max-width: 100vw;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        border-radius: 0px;
        gap: var(--spacing-36);
    }
}

.info-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* height: var(--spacing-percentage-90); */
    /* width: 50%; */
    gap: var(--spacing-20);
    padding-left: var(--spacing-24);
}

@media screen and (max-width: 900px) {
    .info-form {
        order: 1;
        align-self: self-end;
    }
}

.info-form__title {
    padding: var(--spacing-36) var(--spacing-20) 0;
    font-size: var(--font-title);
    font-weight: 700;
}

@media screen and (max-width: 900px) {
    .info-form__title {
        font-size: var(--font-title-mobile);
        padding: 0;
    }
}

.info-form__subtitle {
    font-size: var(--font-paragraph);
    padding: 0 var(--spacing-20);
}

@media screen and (max-width: 900px) {
    .info-form__subtitle {
        font-size: var(--font-paragraph-mobile);
        padding: 0;
    }
}

.info-form__list--item {
    display: flex;
    align-items: center;
}

.info-form__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: 0 var(--spacing-20);
}

.info-form__fact--svg {}

.info-form__fact {
    font-size: var(--font-paragraph);
    /* padding: 0 var(--spacing-20); */
}

@media screen and (max-width: 900px) {
    .info-form__list {
        padding: 0;
    }
    .info-form__fact {
        font-size: var(--font-paragraph-mobile);
        padding: 0;
    }
}

.info-form__form {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing-20);
    gap: var(--spacing-8);
}

@media screen and (max-width: 900px) {
    .info-form__form {
        padding: 0;
    }
}

.info-form__form--labels {
    display: flex;
    margin-top: var(--spacing-12);
    justify-content: space-between;
    max-width: var(--spacing-percentage-90);
}

.info-form__form--labels-email {
    font-size: var(--font-label);
    font-weight: 700;
}

.info-form__form--labels-error {
    font-size: var(--font-label);
    font-weight: 700;
    color: var(--primary-tomato);
    display: none;
}

.info-form__form--text-input {
    font-size: var(--font-paragraph);
    max-width: var(--spacing-percentage-90);
    border: 1px solid var(--neutral-grey);
    border-radius: 10px;
    padding: var(--spacing-20);
}

.info-form__form--text-input:invalid {
    background-color: hsl(4, 100%, 95%);
}

.info-form__form--text-input:hover {
    cursor: pointer;
}

.submit-button {
    margin-top: var(--spacing-12);
    padding: var(--spacing-20);
    font-size: var(--font-paragraph);
    font-weight: 700;
    max-width: var(--spacing-percentage-90);
    min-width: var(--spacing-300);
    background-color: var(--neutral-dark-slate-grey);
    color: var(--neutral-white);
    border: 1px solid var(--neutral-grey);
    border-radius: 10px;
    /* -webkit-transition: background-image 0.25s ease-in-out;
    transition: background-image .25s; */
}

.dismiss-button {
    margin-top: var(--spacing-12);
    padding: var(--spacing-20);
    font-size: var(--font-paragraph);
    font-weight: 700;
    max-width: var(--spacing-percentage-90);
    min-width: var(--spacing-300);
    background-color: var(--neutral-dark-slate-grey);
    color: var(--neutral-white);
    border: 1px solid var(--neutral-grey);
    border-radius: 10px;
}

.submit-button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, red, var(--primary-tomato));
}

.dismiss-button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, red, var(--primary-tomato));
}

@media screen and (max-width: 900px) {
    .submit-button,
    .dismiss-button {
        font-size: var(--font-paragraph-mobile);
        /* max-width: var(--spacing-percentage-90); */
        min-width: 220px;
    }
    .info-form__form--text-input {
        font-size: var(--font-paragraph-mobile);
    }
}

.svg-aside {
    /* padding: var(--spacing-20); */
    margin-right: var(--spacing-8);
}

.desktop-svg {
    display: block;
}

.mobile-svg {
    display: none;
}

@media screen and (max-width: 900px) {
    .desktop-svg {
        display: none;
    }
    .mobile-svg {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    p {
        font-size: var(--font-paragraph-mobile1);
    }
}


/* adsdasdasd */


/* Ventana modal (agregar lista de tarea) */

.bg-modal {
    display: none;
    place-items: center;
    position: fixed;
    z-index: 101;
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: var(--neutral-dark-slate-grey);
    /* backdrop-filter: blur(10px); */
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: relative;
    /* width: 97%; */
    max-width: 400px;
    /* margin: 12px 0; */
    padding: 90px 24px 40px 24px;
    /* border-radius: 12px; */
    background: var(--neutral-white);
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.5s;
    animation-name: fadein;
    animation-duration: 0.5s;
}

.modal-email {
    font-weight: 700;
}

.modal {
    /* margin: 30px 0; */
    padding: 100px 50px 50px 50px;
    border-radius: 24px;
}

.modal>h2 {
    padding: 0 0 0 0px;
    font-size: var(--font-modal-title);
}

.modal>p {
    justify-self: flex-start;
    font-size: var(--font-paragraph);
}

.modal>input {
    align-self: center;
}

@media screen and (max-width: 900px) {
    .modal {
        /* margin: 30px 0; */
        max-width: 340px;
        padding: 100px 50px 50px 50px;
        border-radius: 24px;
    }
}

@media screen and (max-width: 330px) {
    .modal {
        max-width: 250px;
    }
    .modal>h2 {
        padding: 0 0 0 0px;
        font-size: 3em;
    }
    .modal>p {
        font-size: 1em;
    }
    .modal>input {
        font-size: 1em;
    }
}

.attribution {
    font-size: var(--font-paragraph);
    color: var(--neutral-white);
}

.attribution>a {
    color: var(--neutral-grey);
}